STARK_ENVIRONMENT=sandbox
STARK_PROJECT_ID=
STARK_PRIVATE_KEY=
DATABASE_PATH=./data/starkbank.sqlite3
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8080
INVOICE_MIN_AMOUNT=1000
INVOICE_MAX_AMOUNT=5000
RUN_SCHEDULER=true
